.slicePage {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: 11fr 9fr;
	margin: 1rem;
	gap: 1rem;
	width: calc(100% - 2rem);
	height: calc(100% - 2rem);
}

.slicePage > div:nth-child(1) {
	grid-column: 1;
	grid-row: 1;
}

.slicePage > div:nth-child(2) {
	grid-column: 1;
	grid-row: 2;
}

.slicePage > div:nth-child(3) {
	grid-column: 2;
	grid-row: 1 / span 2;
}
