.progressBarParent {
	margin: 1rem;
	width: calc(100% - 2rem);
	height: 1.5rem;
	display: grid;
	grid-template-columns: 11fr 1fr 1fr;
	gap: 0.5rem;
}

.progressBarContainer {
	grid-column: 1;
	width: 100%;
	height: 100%;
	position: relative;
}

.progressBar {
	width: 0%;
	height: 100%;
	background-color: var(--progress-bar-color);
}

.progressBarText {
	position: absolute;
	width: 100%;
	left: 0.5rem;
	top: 0;
	color: var(--primary-text);
	mix-blend-mode: difference;
}

.progressLabel {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	color: var(--primary-text);
}
