.fileEntry {
	display: flex;
	justify-content: start;
	align-items: center;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	margin-right: 1rem;
	cursor: pointer;
	transition: background-color 0.2s;
	color: var(--primary-text);
	font-size: 1rem;
}

.fileEntryIcon {
	margin-right: 0.5rem;
	height: 1.125rem;
	width: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
